[Unit]
Description=pAirQuality
After=network.target

[Service]
ExecStart=/usr/bin/python3 quickstart.py
WorkingDirectory=/home/pi/pairquality
StandardOutput=append:/home/pi/pairquality/log.log
StandardError=append:/home/pi/pairquality/error.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
